settings defaultDelay=2 autoDetectGame=#true onlyInGame=#true darkMode=#true toggleKey=F1
active game=SEBNS-64bit class=WL spec=Shadow
game SEBNS-64bit path="C:/Games/SEBNS/bin64/Client.exe" {
    class WL {
        spec Reaper {
            macro name=rotation hotkey=XButton1 delay=20 holdMode=#true interKeyDelay=0 enabled=#true {
                key t
                key b
            }
        }
        spec Shadow {
            macro name=Rotation hotkey=RButton delay=1 holdMode=#true interKeyDelay=0 enabled=#true {
                key v
                key g
                key t
            }
            macro name=ss hotkey=XButton2 delay=50 holdMode=#true interKeyDelay=0 enabled=#true {
                key Down
            }
            buff name=Sacntum triggerType=keys duration=28800 actionKey=c onRefresh=reset extendMs=0 enabled=#true triggerMatchMode=all {
                watchKey c
            }
        }
    }
    class SMN {
        spec Wind {
            macro name=Rotation hotkey=RButton delay=1 holdMode=#true interKeyDelay=0 enabled=#true {
                key b
                key r
                key t
            }
        }
    }
}
